/* cores
azul: #005eff
rosa: #E74471
cinza: #F3F3F3 */

/* Aqui começa o estilo da header e da barra de navegação */
body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#nav-container nav ul {
  list-style-type: none;
}

/* Barra de Navegação -  */
#nav-background {
  position: fixed;
  top: 0;
  z-index: 9000; /*para o carrossel não sobrepor */
  width: 100%;
  background-color: #005eff;
}

.content {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
}

#nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-logo {
  color: #fff;
  text-decoration: none;
}

.nav-ul {
  display: flex;
  max-width: 715px;
}

.nav-ul li {
  display: flex;
}

.nav-link {
  flex: 1;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  transition: 200ms;
}

.nav-link:hover {
  background-color: #fff;
  border-radius: 10px;
  color: #005eff;
}

/* banner */
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('./img/banner-image2.jpg');
  height: 18vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 86px;
}

.banner h1 {
  text-align: center;
  color: #fff;
  font-size: 3vw;
  font-weight: 0;
  position: absolute;
  margin: 6.5vw 4.5vw 2.5vw 1vw;
  text-shadow: 0.8px 0.8px 4px black;
  text-align: left;
}

.banner b {
  color: rgb(101, 191, 252);
}

/* Aqui é a configuração do container geral que engloba a parte do carrossel e footer */
.container {
  display: block;
  width: 100%;
}

.container footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
}

.container footer a {
  color: #f6eddc;
  margin: 20px;
}

/*cards*/

.list a {
  text-decoration: none;
  margin: 30px;
  color: #586875;
  font-size: 2vh;
}

.card_content a {
  text-decoration: none;
  color: #586875;
  font-size: 2vh;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.list {
  list-style: none;
  display: flex;
  justify-content: left;
  padding: 0;
}

.list li {
  margin: 0 15px;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
}

.container {
  width: 100%;
  height: 15%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background: inherit;
  background-color: #feffff;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.titlemain {
  margin: 3vw;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 0.8rem;
  width: 22%;
  height: 12%;
  transition: 0.5s;
}

.cards_item:hover {
  transform: scale(1.1);
  z-index: 2;
}

.card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 0.8rem;
  background: #586875;
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

/* Aqui eu trato a questão da resposividade, para a parte do header
O menu passa a ser o hamburger depois que diminui */

@media screen and (max-width: 850px) {
  .cards_item {
    width: 45% !important;
  }
}

@media screen and (max-width: 700px) {
  #nav-container {
    flex-direction: column;
    text-align: center;
  }

  #nav-menu-button {
    padding: 1rem;
    background-color: #fff;
    color: #005eff;
    cursor: pointer;
    margin-right: 47px;
    border-radius: 10px;
  }

  .nav-ul {
    display: block;
    flex-direction: column;
    overflow: auto;
    direction: rtl;
    transition: max-height 400ms;
    max-height: 90vh;
  }

  .hide-ul {
    max-height: 0;
  }

  .nav-link {
    padding: 1rem 0;
    font-size: 1.3rem;
    border-bottom: 1px solid #f4f4f4;
  }

  .box-reservations .content {
    flex-direction: column;
  }

  .box-reservations h2,
  .box-reservations .input-area {
    display: block;
    width: 80% !important;
    margin-left: 10%;
  }

  .box-reservations .input-area {
    margin-top: 15px;
  }

  .box-reservations .input-area button {
    margin-top: 0;
    margin-bottom: 15px;
  }

  .sale {
    flex-direction: column;
  }

  .sale img {
    width: 100%;
    height: auto;
  }

  .sale img:first-child {
    margin-bottom: 20px;
  }

  .cards_item {
    width: 100% !important;
  }
}

@media screen and (min-width: 701px) {
  #nav-menu-button {
    display: none;
  }

  .nav-link {
    flex-basis: auto;
    padding: 1rem 1.5rem;
  }
}

/* Aqui movemos a logo para quando diminuir a tela ela não fique colada no canto esquerdo */
@media screen and (max-width: 1040px) {
  #nav-logo {
    margin-left: 1rem;
  }
}
