/* cores
azul: #005eff
rosa: #E74471
cinza: #F3F3F3 */

/* Aqui começa o estilo da header e da barra de navegação */
body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#nav-container nav ul {
  list-style-type: none;
}

/* Barra de Navegação -  */
#nav-background {
  position: fixed;
  top: 0;
  z-index: 9000; /*para o carrossel não sobrepor */
  width: 100%;
  background-color: #005eff;
}

.content {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
}

#nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-logo {
  color: #fff;
  text-decoration: none;
}

.nav-ul {
  display: flex;
  max-width: 715px;
}

.nav-ul li {
  display: flex;
}

.nav-link {
  flex: 1;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  transition: 200ms;
}

.nav-link:hover {
  background-color: #fff;
  border-radius: 10px;
  color: #005eff;
}

/* banner */
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../../img/banner-image2.jpg');
  height: 18vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 86px;
}

.banner h1 {
  text-align: center;
  color: #fff;
  font-size: 3vw;
  font-weight: 0;
  position: absolute;
  margin: 6.5vw 4.5vw 2.5vw 1vw;
  text-shadow: 0.8px 0.8px 4px black;
  text-align: left;
}

.banner b {
  color: rgb(101, 191, 252);
}

.box-reservations {
  background-color: #e74471;
  color: white;
}

.box-reservations h2 {
  width: 20%;
}

.box-reservations .input-area {
  margin-top: 25px;
  margin-left: 1%;
}

.box-reservations .input-area input {
  margin-top: 2px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}

.box-reservations .input-area input[type='date'] {
  padding: 7px 10px;
}

.box-reservations .input-area.large {
  width: 25%;
}

.box-reservations .input-area.medium {
  width: 20%;
}

.box-reservations .input-area.small {
  width: 10%;
}

.box-reservations .input-area button {
  padding: 9px 5px;
  margin-top: 20px;
  width: 100%;
  background-color: #005eff;
  color: #fff;
  border: none;
}

/* Aqui é a configuração do container geral que engloba a parte do carrossel e footer */
.container {
  display: block;
  width: 100%;
}

.container footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
}

.container footer a {
  color: #f6eddc;
  margin: 20px;
}

/* Aqui começa a configuração do carrossel */
.slideshow-container {
  display: block;
  position: relative;
  margin: 0 auto;
}

/* Inicialmente as imagens ficam ocultadas por padrão */
.mySlides {
  display: none;
}

/* Aqui fica a configuração dos botões que movem os slides */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Aqui eu crio o posicionamento para o botão next (setinha) fique do lado direito*/
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Aqui são as configurações das legendas das imagens do carrossel */
.text {
  color: black;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* Aqui fica a configuração do contatdor das imagens, aqueles números que ficam em cima mostrando em qual imagem a pessoa está */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.dots {
  text-align: center;
  margin-bottom: 20px;
}

.sale {
  margin-bottom: 20px;
}

.sale img {
  height: 290px;
}

/* Aqui são as ferramentas de animação colequei para dar aquele efeito de slide no carrossel */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Aqui eu trato a questão da resposividade, para a parte do header
O menu passa a ser o hamburger depois que diminui */
@media screen and (max-width: 1002px) {
  .sale {
    flex-direction: column;
  }

  .sale img {
    width: 100%;
    height: auto;
  }

  .sale img:first-child {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 700px) {
  #nav-container {
    flex-direction: column;
    text-align: center;
  }

  #nav-menu-button {
    padding: 1rem;
    background-color: #fff;
    color: #005eff;
    cursor: pointer;
    margin-right: 47px;
    border-radius: 10px;
  }

  .nav-ul {
    display: block;
    flex-direction: column;
    overflow: auto;
    direction: rtl;
    transition: max-height 400ms;
    max-height: 90vh;
  }

  .hide-ul {
    max-height: 0;
  }

  .nav-link {
    padding: 1rem 0;
    font-size: 1.3rem;
    border-bottom: 1px solid #f4f4f4;
  }

  .box-reservations .content {
    flex-direction: column;
  }

  .box-reservations h2,
  .box-reservations .input-area {
    display: block;
    width: 80% !important;
    margin-left: 10%;
  }

  .box-reservations .input-area {
    margin-top: 15px;
  }

  .box-reservations .input-area button {
    margin-top: 0;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 701px) {
  #nav-menu-button {
    display: none;
  }

  .nav-link {
    flex-basis: auto;
    padding: 1rem 1.5rem;
  }
}

/* Aqui movemos a logo para quando diminuir a tela ela não fique colada no canto esquerdo */
@media screen and (max-width: 1040px) {
  #nav-logo {
    margin-left: 1rem;
  }
}
