/* cores
.color1 { #f6eddc };
.color2 { #e3e5d7 };
.color3 { #bdd6d2 };
.color4 { #a5c8ca };
.color5 { #586875 }; */

/* Aqui começa o estilo da header e da barra de navegação */
body {
  background-color: #bdd6d2;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  max-height: 100vh;
}

#nav-container  nav  ul {
  list-style-type: none;
}

/* Barra de Navegação -  */
#nav-background {
  position: fixed;
  top: 0;
  z-index: 9000; /*para o carrossel não sobrepor */
  width: 100%;
  background-color: #a5c8ca;
  border-bottom: 1px solid #ddd;
}

#nav-container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
}

#nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-logo {
  color: #444;
  text-decoration: none;
}
#nav-logo:hover {
  color: #f6eddc;
}

.nav-ul {
  display: flex;
  max-width: 715px;
}

.nav-ul  li {
  display: flex;
}

.nav-link {
  flex: 1;
  color: #444;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  transition: 200ms;
}

.nav-link:hover {
  background-color: #f6eddc;
  border-radius: 10px;
}

/* Aqui eu trato a questão da resposividade, para a parte do header
O menu passa a ser o hamburger depois que diminui */

@media screen and (max-width: 700px) {
  #nav-container {
    flex-direction: column;
    text-align: center;
  }

  #nav-menu-button {
    padding: 1rem;
    background-color: #f6eddc ;
    cursor: pointer;
    margin-right: 47px;
  }

  .nav-ul {
    display: block;
    flex-direction: column;
    overflow: auto;
    direction: rtl;
    transition: max-height 400ms;
    max-height: 90vh;
  }

  .hide-ul {
    max-height: 0;
  }

  .nav-link {
    padding: 1rem 0;
    font-size: 1.3rem;
    border-bottom: 1px solid #f4f4f4;
  }
}

@media screen and (min-width: 701px) {
  #nav-menu-button {
    display: none;
  }

  .nav-link {
    flex-basis: auto;
    padding: 1rem 1.5rem;
  }
}

/* Aqui movemos a logo para quando diminuir a tela ela não fique colada no canto esquerdo */
@media screen and (max-width: 1040px) {
  #nav-logo {
    margin-left: 1rem;
  }
}

/* Aqui é a configuração do container geral que engloba a parte do carrossel e footer */

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100vw;
  height: 120vh;
}

.container footer {
  background-color: #586875;
  color: #fff;
  text-align: center;
}

.container footer a {
  color: #f6eddc;
}

/* Aqui começa a configuração do carrossel */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Inicialmente as imagens ficam ocultadas por padrão */
.mySlides {
  display: none;
}

/* Aqui fica a configuração dos botões que movem os slides */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Aqui eu crio o posicionamento para o botão next (setinha) fique do lado direito*/
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Aqui coloquei um hover para quando passar o mause nas setas ele pegar uma cor escura mas com tom transparente ao fundo */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Aqui são as configurações das legendas das imagens do carrossel */
.text {
  color: black;
  font-size: 50px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; 

}

/* Aqui fica a configuração do contatdor das imagens, aqueles números que ficam em cima mostrando em qual imagem a pessoa está */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Aqui são as ferramentas de animação colequei para dar aquele efeito de slide no carrossel */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
